@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:not([type="checkbox"])  */
textarea {
  font-family: inherit;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin-top: 0.5em;
  margin-bottom: 4em;
  background: rgba(255,255,255,0.3);
  height: auto;
}

input:focus {
  outline: none;
}

.anticon-delete {
  width: 32px !important;
  cursor: pointer;
  color: #c0c0c0;
}

.anticon-delete:hover {
  color: var(--color-text);
}

.note {
  padding: 1rem;
  background-color: var(--color-background);
  border-radius: .5rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  overflow: hidden;
}
.note > .metadata {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.note .timestamp {
  font-size: 0.8rem;
  color: #c0c0c0;
}
.note > span {
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  letter-spacing: -0.07em;
  white-space: nowrap;
  font-kerning: normal;
}
h1 > .T {
  letter-spacing: -0.15em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-background: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


